*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align:center;
    margin-top: 2%;
}

.box{
    margin:2% 0% 5% 0%;
    /* background-color: aqua; */
    height: 300px;
}

.box1,.box2,.box3{
   background-color: grey;
   height: 60%;
   width: 25%;
   margin: 5% 0% 0% 5%; 
   float: left;
   position: relative;
   overflow: hidden;
   border: 2px solid black;
}

.title1,.title2,.title3{
    background-color: aqua;
    font-weight: 600;
    text-align: center;
    width: 25%;
    display: inline;
    position: absolute;
    right: 0;
    /* border: ; */
    border-bottom:2px solid black ;
    border-left: 2px solid black;

}

.content1,.content2,.content3{
    margin: 2% 4% 0 4%;
    margin-top: 15% ;
    margin-bottom: 2%;
}

.title2{
    background-color: brown;

}

.title3{
    background-color:blueviolet;
    
}


@media screen and (max-width:991px) {
    .box1,.box2{
        width: 40%;
        
    }
    .box3{
        width: 80%;
    }
    .content3{
        margin-top: 10%;
    }
}


@media screen and (max-width:767px) {
    .box1,.box2,.box3{
        background-color: grey;
        height: 60%;
        width: 70%;
        margin: 5% 15% 2% 15%; 
        float: left;
        position: relative;
        overflow: hidden;
     }
}
